.mainVisual {
    height: 600px;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    h2 {
        font-size: 32px;
        font-family: serif;
        color: #616161;
        margin-top: 40px;
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: absolute;
        bottom: 16px;
        right: 24px;
        text-decoration: none;
        img {
            width: 100px;
            height: 85px;
            animation: moveGorira 1s forwards;
        }
        div {
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            padding: 4px 24px;
            background-color: #b19c85;
            border-radius: 12px;
        }
    }
    .object_light {
        position: absolute;
        top: 0px;
        left: 0;
        transform-origin: left top;
        animation: moveLight 1s forwards;
        img {
            width: 200px;
        }
    }
    .object_fork {
        position: absolute;
        bottom: -35px;
        left: -30px;
        animation: moveFork 1s forwards;
        img {
            width: 200px;
        }
    }
    .object_tile {
        position: absolute;
        opacity: 0;
    }
    .object_tile_01 {
        left: 35%;
        top: 190px;
        animation: entityTile 0.5s forwards 1s;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .object_tile_02 {
        left: 10%;
        top: 200px;
        animation: entityTile 0.5s forwards 1.1s;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .object_tile_03 {
        left: 5%;
        top: 300px;
        animation: entityTile 0.5s forwards 1.2s;
        img {
            width: 60px;
            height: 60px;
        }
    }
    .object_tile_04 {
        left: 18%;
        top: 375px;
        animation: entityTile 0.5s forwards 1.3s;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .object_tile_05 {
        left: 37%;
        top: 400px;
        animation: entityTile 0.5s forwards 1.4s;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .object_tile_06 {
        left: 53%;
        top: 370px;
        animation: entityTile 0.5s forwards 1.5s;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .object_tile_07 {
        left: 76%;
        top: 330px;
        animation: entityTile 0.5s forwards 1.6s;
        img {
            width: 60px;
            height: 60px;
        }
    }
    .object_tile_08 {
        left: 74%;
        top: 215px;
        animation: entityTile 0.5s forwards 1.7s;
        img {
            width: 90px;
            height: 90px;
        }
    }
    .object_tile_09 {
        left: 52%;
        top: 180px;
        animation: entityTile 0.5s forwards 1.8s;
        img {
            width: 80px;
            height: 80px;
        }
    }
}
@keyframes moveLight {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveGorira {
    0% {
        transform: translateX(140px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveFork {
    0% {
        transform: rotate(45deg) scale(0.1);
        left: -200px;
        bottom: -100px;
    }
    100% {
        transform: rotate(-45deg) scale(1);
        left: -30px;
        bottom: -35px;
    }
}

@keyframes entityTile {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#kari {
    background-color: tomato;
    display: block;
}
