:root {
    --bgColor: #f3efeb;
    /* --bgColor: #fff; */
}

header {
    height: 60px;
    /* background-color: tomato; */
    display: flex;
    padding-top: 4px;
    background-color: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    h1 {
        margin: 10px 10px;
        a {
            img {
                height: 40px;
            }
        }
    }
    nav {
        height: 60px;
        ul {
            margin: 0 16px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            li {
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #453c36;
                    text-decoration: none;
                    font-size: 10px;
                    letter-spacing: 1px;
                    span {
                        font-weight: bold;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .icon_wrap {
        height: 60px;
        display: flex;
        align-items: center;
        gap: 8px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}

main {
    background-color: var(--bgColor);
}

.mock_wrap {
    display: none;
}

@media screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns:
            1fr
            393px
            1fr;
        min-height: 100vh;
    }
    .mock_wrap {
        display: block;
        width: 100%;
        position: relative;
        .mock_bg {
            position: fixed;
            height: 100vh;
            width: calc((100vw - 393px) / 2);
            display: flex;
            flex-direction: column;
            z-index: -10;
            /* background-image: url("../images/kari_bg.jpg");
            background-size: cover; */
            transform: rotate(45deg);
            .grid_wrap {
                display: flex;
                .grid_item {
                    min-width: 120px;
                    min-height: 120px;
                    border: 1px solid rgba(159, 143, 126, 0.33);
                }
            }
        }
    }
}
