:root {
    --bgColor: #f3efeb;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 60px;
    /* background-color: tomato; */
    display: flex;
    padding-top: 4px;
    background-color: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    h1 {
        margin: 10px 10px;
        a {
            img {
                height: 40px;
            }
        }
    }
    nav {
        height: 60px;
        ul {
            margin: 0 16px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            li {
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #453c36;
                    text-decoration: none;
                    font-size: 10px;
                    letter-spacing: 1px;
                    span {
                        font-weight: bold;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .icon_wrap {
        height: 60px;
        display: flex;
        align-items: center;
        gap: 8px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}

main {
    background-color: var(--bgColor);
}

footer {
    /* background-color: #f7f6f3; */
    background-color: #fff;
    height: 500px;
    margin: 0 auto;
    .taiwan_wrap {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            color: #453c36;
            width: 140px;
            padding: 8px;
            border-radius: 32px;
            border: 1px solid #453c36;
            letter-spacing: 12%;
        }
        p {
            margin-top: 20px;
            font-size: 10px;
            letter-spacing: 8%;
            text-align: center;
            a {
                text-decoration: none;
                color: #7d9676;
            }
        }
        img {
            margin-top: 40px;
            margin-bottom: 40px;
            width: 160px;
            height: 160px;
        }
    }
}

.mock_wrap {
    display: none;
}

@media screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns:
            1fr
            393px
            1fr;
        min-height: 100vh;
    }
    .mock_wrap {
        display: block;
        width: 100%;
        position: relative;
        .mock {
            position: fixed;
            height: 100vh;
            width: calc((100vw - 393px) / 2);
            display: flex;
            flex-direction: column;
            z-index: -10;
            .grid_wrap {
                display: flex;
                flex-direction: column;
                transform: translateY(-100vh);
                animation: gridMove 60s infinite alternate linear;
                img {
                    min-height: 100vh;
                    object-fit: cover;
                }
            }
        }
    }
}

@keyframes gridMove {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}
